<div class="card d-flex justify-content-center m-1" style="width: 28%; height:40em">
    <img src="{{image_url}}" alt="beers" class="card-img-top w-25 rounded mx-auto d-block h-50 mt-1" >
    <div class="card-body h-50 d-flex flex-column align-items-center justify-content-between">
        <div class="card-title font-weight-bold">{{name}}</div>
        <div class="card-title text-secondary">{{tagline}}</div>
        <div class="card-text text-justify card_description">{{description}}</div>
        <button class="btn btn-primary mt-1" onclick="window.location.href='/random-beers/{{id}}'">Link to all the
            details</button>
    </div>

</div>