    <h1 class="text-center">Some tips about this beer</h1>
    <div class="d-flex flex-row align-items-center m-4 w-80">
        <img src={{beer.image_url}} alt="beers" height="150">
        <div class="card-body">
            <div class="font-weight-bold">{{beer.name}}</div>
            <div class="text-secondary">{{beer.tagline}}</div>
            <div class="text-justify">{{beer.description}}</div>
            <div class="text-justify">Tips: {{beer.brewers_tips}}</div>
            <div class="text-justify">Food pairing: {{beer.food_pairing}}</div>
        </div>
    